#app {
  .main-container {
    min-height: 100%;
    margin-left: $sideBarWidth;
    transition: margin-left 0.28s;
  }
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: $sideBarWidth;
    background-color: $menuBg;
    z-index: 1001;
    transition: width 0.28s;
    overflow: hidden;
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar {
      height: 100%;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }
    .svg-icon {
      margin-right:16px;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }
    .svg-icon {
      margin-left:20px;
    }
    .el-menu--collapse {
      width: 54px !important;
    }
    .el-tooltip,
    .el-menu-item {
      padding: 0 !important;
    }
    // .el-menu-item.is-active {
    //   padding: 0 !important;
    // }
    .el-tooltip,
    .el-submenu__title {
      i {
        margin-left: 12px !important;
      }
    }
    .main-container {
      margin-left: 54px;
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding: 0px !important;
        width: 54px !important;
      }
    }
  }
}
